.dropzone {
  background: #fff;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  border: dashed 2px lightgrey;
}
.dropzone-wrapper {
  width: 700px;
  background: #fff;
  position: fixed;
  z-index: 10;
  padding: 50px 60px 40px;
  height: 400px;
  left: 0;
  right: 0;
  margin: auto;
  top: 10%;
}
