input:focus,
button:active,
input:active {
  outline: none;
  border: none;
}
.login-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom right, #00c5fe, #9de3dc, #0d11b4);
}
.login-screen-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 15%;
  z-index: 2;
}
.login-screen-button {
  position: relative;
  z-index: 2;
  width: 50%;
  background: #fff;
  border: none;
  outline: none;
  height: 50px;
  line-height: 50px;
  color: #000;
  font-weight: 700;
  pointer-events: none;
}
.login-screen-button:hover {
  cursor: pointer;
  text-decoration: none;
}
.login-screen-button-enabled {
  pointer-events: all;
  text-decoration: underline;
  background: #f5f5f5;
}
.login-screen-greetings {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.login-button-container {
  width: 500px;
  margin: 40px auto 0;
}
.form-group {
  margin-top: 20px;
}
.form-container {
  position: relative;
  min-height: 250px;
  width: 500px;
  background: #fff;
  margin: 0 auto;
  padding: 25px 50px 85px;
}
.form-control {
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #f0f8f6;
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  margin-top: 5px;
}
.invalid-form-result {
  margin-top: 0;
  color: #d32f2f;
}
.btn {
  background: #00a8ff;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin: auto;
  width: fit-content;
  text-transform: uppercase;
}
.btn:hover {
  cursor: pointer;
  transition: .5s ease;
  background: #33b9ff;
}
label {
  font-size: 18px;
}
