.personal-header {
  padding-left: 20px;
  padding-top: 30px;
  display: flex;
}
.personal-header__info {
  padding-right: 50px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.personal-header__info > div {
  width: 100%;
}
.personal-header__info p {
  text-align: right;
}
.personal-header__photo {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}
.personal-header__photo div {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: inline-block;
}
.personal-header__photo a {
  text-decoration: underline;
  cursor: pointer;
}
.personal-header__photo a:hover {
  text-decoration: none;
}
.personal-header__div {
  margin-bottom: 10px;
}
.personal-header__select {
  border: none;
  background: #fff;
  padding: 6px 10px;
  margin-left: 10px;
  border-radius: 10px;
  outline: none;
}
.personal-header__info p {
  margin-left: 170px;
  font-size: 11px;
  opacity: .75;
}
.personal-separator {
  font-size: 18px;
  margin: 40px 0;
  padding-left: 40px;
}
.personal-section {
  padding: 0 45px;
  margin: 20px 0;
}
.personal-section__header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.personal-section__header h6 {
  font-size: 16px;
}
.personal-section__header p {
  font-size: 18px;
  margin-right: 5px;
  font-weight: semi-bold;
}
.personal-section__header hr {
  width: 92%;
  height: 1px;
  background: #1976d2;
  border: none;
  margin-left: 20px;
}
input::-webkit-clear-button {
  /* Removes blue cross */
  -webkit-appearance: none;
  margin: 0;
}
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
@media all and (max-width: 600px) {
  .personal-header {
    padding: 40px 20px 20px;
    flex-direction: column;
  }
  .personal-header__info {
    padding-right: 0;
    width: 100%;
  }
  .personal-header__photo {
    width: unset;
    margin-top: unset;
    margin-right: 20px;
  }
  .personal-header__photo > div {
    margin-bottom: 20px;
  }
  .personal-section {
    padding: 0 15px;
  }
  .personal-header__info p {
    margin: 0;
  }
}
