.news {
  margin-top: 5px;
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.06), 0 3px 5px rgba(0, 0, 0, 0.12);
}
.news-important {
  box-shadow: inset #ff4800 0 0 5px;
}
.news-btns {
  margin-top: 40px;
  width: 100%;
  text-align: right;
  font-weight: bold;
}
.news-btns-enabled {
  background: #f0f8f6 !important;
  text-decoration: underline;
  pointer-events: all !important;
}
.news-item {
  padding: 15px;
  border-bottom: 1.5px solid #f0f8f6;
}
.news-item p {
  margin: 0;
}
.news-item-header {
  display: flex;
  justify-content: space-between;
}
.news-item-header__author {
  text-decoration: underline;
}
.news-item-header__date {
  font-weight: 700;
}
.news-item-title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  text-decoration: underline;
  color: #ff4800;
  cursor: pointer;
}
.news-item-text {
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}
.news-item-text::-webkit-scrollbar {
  width: 10px;
}
.news-item-text::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.news-item-text::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ff4800;
}
.news-item-comment {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.news-item-comment:hover {
  transition: .3s ease;
  cursor: pointer;
}
.news-item-comment p {
  margin-left: 10px;
  text-decoration: underline;
}
.news-item-comment p:hover {
  text-decoration: none;
}
.news-button {
  width: 100%;
  border: none;
  outline: none;
  height: 45px;
  background: #ff4800;
  color: white;
  font-weight: 700;
  margin-top: -2px;
}
.news-button:hover {
  cursor: pointer;
  background: #ff6529;
  transition: .3s ease;
}
