@font-face {
  font-family: 'Calibri';
  src: url('../src/fonts/calibri/calibri.eot');
  src: url('../src/fonts/calibri/calibri.eot?#iefix') format('embedded-opentype'), url('../src/fonts/calibri/calibri.woff') format('woff'), url('../src/fonts/calibri/calibri.ttf') format('truetype'), url('../src/fonts/calibri/calibri.svg#calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Calibri';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

textarea:focus,
textarea:active,
input:focus,
button:active,
button:focus,
button,
input:active {
  outline: none;
  border: none;
}

* {
  box-sizing: border-box;
}

#root {
  padding-bottom: 150px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.black-wrapper {
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
}

.close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  z-index: 20;
  cursor: pointer;
  background: transparent;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  z-index: 20;
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 7px;
  background-color: #2196F3;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

input[name="password"] {
  position: relative;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkbox-checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkbox-checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.svg-inline--fa {
  color: rgba(0, 0, 0, 0.37);
  opacity: .85;
  margin: 0 10px;
  cursor: pointer;
  height: 18px;
  width: auto;
}

.svg-inline--fa:hover {
  opacity: 1;
  transition: .37s ease;
}

.touch-ripple {
  color: #1976d2;
}

.MuiExpansionPanelSummary-content-181> :last-child {
  padding-right: 0;
}

@media all and (max-width: 600px) {
  #root {
    padding-bottom: 50px;
  }

  .container {
    width: 100%;
  }
}